* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: ; */
}


/* ---------------------------------------------TITULO--------------------------------------------- */
.huno {
    width: 250px;
    background-color: black;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}

h1 {
    padding: 20px;
    text-align: center;
    font-style: italic;
    color: white;
}

h2 {
    padding: 25px;
    text-align: center;
}


/* ---------------------------------------------HEADER--------------------------------------------- */
header {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 15px;
}

.black {
    background-color: black;
}

.white {
    color: white;
}


/* ---------------------------------------------MAIN--------------------------------------------- */
main {
    /* padding: 30px; */
    width: 100%;
    height: auto;
    color: white;
}

.logo {
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main img {
    width: 150px;
}

.call {
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: black;
    border-radius: 10px;
}

.galeria {
    width:100%;
    height: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (6, 1fr);
    grid-template-areas: 
    "gal1"
    "gal2"
    "gal3"
    "gal4"
    "gal5"
    "gal6";
    grid-gap: 15px;
}

.item {
    margin: 0 auto;
    width: 80%;
    height: 280px;
    border: 5px solid black;
    border-radius: 15px;
}

.item1 {
    grid-area: gal1;
    background-image: url(../multimedia/photo1.jpg);
    background-position: center;
    background-size: cover;
}
.item2 {
    grid-area: gal2;
    background-image: url(../multimedia/photo2.jpg);
    background-position: center;
    background-size: cover;
}
.item3 {
    grid-area: gal3;
    background-image: url(../multimedia/fondocontacto.jpg);
    background-position: center;
    background-size: cover;
}
.item4 {
    grid-area: gal4;
    background-image: url(../multimedia/photo4.jpg);
    background-position: center;
    background-size: cover;
}
.item5 {
    grid-area: gal5;
    background-image: url(../multimedia/photo5.jpg);
    background-position: center;
    background-size: cover;
}
.item6 {
    grid-area: gal6;
    background-image: url(../multimedia/photo6.jpg);
    background-position: center;
    background-size: cover;
}

.ofertas {
    width: 100%;
    height: auto;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.mail {
    
}

.ofertas p {
    color: black;
}

.ofertas img {
    width: 80px;
    height: 60px;
}



/* nosotros */
.equipo {
    width: 100%;
    height: 280px;
    background-image:url(../multimedia/equipo.jpg);
    background-position: center;
    background-size: cover;

}

.nos {
    margin: 30px auto;
    padding: 50px;
    width: 300px;
    height: auto;
    background-color: rgb(70, 70, 70);
    border-radius: 100%;
}

.nos i{
    display: flex;
    justify-content: center;
}

.proposito {
    font-size: 18px;
    color: rgb(17, 17, 152);
    text-align: center;
}

.p-nos {
    text-align: center;
    padding: 20px;
    color: black;
}






/* tienda */
.tabla-medidas {
    padding: 25px;
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.medidas {
    width: 180px;
}

.cards-ropa{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ropa-venta {
    padding: 10px;
    margin: 20px auto;
    width: 140px;
    height: auto;
    background-color: black;
    border-radius: 10px;
}

.producto {
    width: 120px;
    height: 200px;
}

.ropa-venta p {
    padding: 10px;
    color: white;
    font-size: 16px;
}

.ropa-venta a {
    padding: 5px;
    font-size: 10px;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
}

.medios-depago {
    margin: 25px auto;
    padding: 25px;
    width: 250px;
    height: auto;
    background-color: black;
    border-radius: 10px;
}

.medios-depago p {
    font-size: 20px;
}

.medios-depago ul li {
    font-size: 16px;
}


/* contacto */
.main_contacto {
    width: 100%;
    height: auto;
}

.call-contacto {
    /* margin-top: 25px; */
    padding: 60px;
    width: 100%;
    height: auto;
    /* background-image: url(../multimedia/photo7.jpg); */
    /* background-position: center; */
    /* background-size: cover; */
}

.call-contacto h2 {
    color: black;
}

.call-contacto p {
    color: black;
    text-align: center;
}

.conteiner_contacto {
    margin-bottom: 25px;
    padding: 25px;
    width: 100%;
    height: auto;
    background-color: rgb(75, 75, 75);

}

.formulario {
    border: ;
}



/*---------------------------------------------FOOTER------------------------------------------------ */
footer {
    width: 100%;
    height: auto;
    background-color: black;
    padding: 18px;
}


footer p{
    color: white;
    font-size: 16px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

.iconos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iconos a i{
    font-size: 25px;
    padding: 10px;
}

.iconos a i:hover{
    color: rgb(18, 118, 185);
    /* font-size: 45px; */
}






/* Media quaries */
@media only screen and (min-width:370px) {

    .iconos {
        display: grid;
        grid-template-columns: 45% auto 45%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "texto texto texto"
        "wpp instagram face";
        justify-items: center;

    }

    .iconos {
        width: auto;
    }

    .texto-footer{
        grid-area: texto;
    }

    .wpp{
        grid-area: wpp;
        justify-self: end;
    } 

    .instagram{
        grid-area: instagram;
    }

    .face{
        grid-area: face;
        justify-self: start;
    }

    /* GALERIA */
    .item {
        height: 500px;
    }
}




@media only screen and (min-width:600px) {

    .barra ul li a {
        padding: 30px;
        font-size: 16px;
    }

    .conteiner {
        padding: 80px;
        
    }

    /* TIENDA */
    .cards-ropa {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .ropa-venta {
        width: 180px;
    }
    .producto{
        width: 160px;
    }


    /* FOOTER */
    footer p {
        font-size: 20px;
    }

    .iconos a i{
        font-size: 35px;
    }
}



@media only screen and (min-width:750px){
    .galeria{
    width:100%;
    height: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: repeat (3, 500px);
    grid-template-areas: 
    "gal1 gal2"
    "gal3 gal4"
    "gal5 gal6 ";
    }

    .item {
    /* width: 100%; */
    height: 400px;
    border: 5px solid black;
    border-radius: 15px;
    }

}


@media only screen and (min-width: 1024px) {
    .galeria{
        width:100%;
        height: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;    
        grid-template-rows: repeat (2, 500px);
        grid-template-areas: 
        "gal1 gal2 gal3"
        "gal4 gal5 gal6";
        }
}














